@import '../../../../../base';

.group-container {

    @include flex-center-row;
    align-items: baseline;

    #group-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 5px;
    }

    .group-link {
        font-size: 1.5rem;
    }

    .group-link:hover {
        color: $green;
    }
    
}