@import '../../base';

#header-welcome {
    color: white;
}

.profile-container {
    background-color: $background;
    height: 100vh;
    color: white;
}

.profile-info-container {
    margin-left: 120px;
}