@import '../../base';

#header-welcome {
    color: white;
}

.profile-container {
    background-color: $background;
    height: 100vh;
    color: white;
}

.profile-info-container {
    @include flex-row-between;
}

.rotated {
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    font-weight: bold;
    font-size: 2em;
  }

#menu-icon {
    transition: 0.3s;
}

#main {
    transition: margin-left 0.3s;
    padding: 200px 16px 16px 16px;
}
