@import '../../../base';

.mobile-navbar {
    position: absolute;
    width: 160px;
    padding: 5px;
    background-color: $blue-transparent;
    font-size: 15px;
    @include flex-center;
    align-items: flex-start;
    border-radius: 5px;
    top: 50px;
    right: 0;
}

.mobile-nav-link {
    cursor: pointer;
}