@import '../../base';

.header {
    height: 100%;
    background-color: $blue-lighter;
    width: 120px;
    margin: 0;
    position: fixed;
    z-index: 2;
}

.header-toggle {
    background-color: $blue-lighter;
    width: 10px;
    margin: 0;
    position: fixed;
    z-index: 2;
        overflow-x: hidden;
    
}

#menu-icon {
   position: relative;
   left: 130px;
}


