@import '../../base';

.header {
    height: 100%;
    background-color: $blue-lighter;
    width: 120px;
    margin: 0;
    position: fixed;
    z-index: 2;
}

.header-toggle {
    height: 100%;
    background-color: $blue-lighter;
    width: 20px;
    margin: 0;
    position: fixed;
    z-index: 2;
}

