@import '../../../base';

.navbar {
    @include flex-center;
    align-items: flex-start;
    padding: 5px;
    height: 50vh;
    justify-content: space-evenly;

    #header-welcome {
        font-weight: bold;
        font-size: 1.3rem;
    }

    #header-username {
        font-style: italic;
    }

    .nav-link {
        font-weight: bold;
    }

    .nav-link:hover {
        color: $blue;
    }
}