@import '../../base';

.dashboard {
    background-color: $background;
    height: 100vh;
    color: white;

    .search-btn {
        border: 1px solid $blue;
        background-color: transparent;
        padding: 5px;
    }

    .search-btn:hover {
        background-color: $blue-transparent;
    }
}



