@import '../../base';

.dashboard {
    background-color: $background;
    height: 100vh;
    color: white;

    .dashboard-container {
        @include flex-row-between;
    }
   
    .search-btn {
        border: 1px solid $blue;
        color: $blue;
        background-color: transparent;
        padding: 5px;
        font-size: 1.5rem;
        margin: 10px;
    }

    .search-btn:hover {
        background-color: $blue-transparent;
        color: white;
    }

    .rotated {
        transform: rotate(90deg); /* Equal to rotateZ(45deg) */
        font-weight: bold;
        font-size: 2em;
      }

    #menu-icon {
        transition: 0.3s;
    }

    #main {
        transition: margin-left 0.3s;
        
    }
}



