@import '../../base';

.dashboard {
    background-color: $background;
    height: 100vh;
    color: white;

    .dashboard-container {
        @include flex-center-row;
        height: 100vh;
    }
   
    .search-btn {
        border: 1px solid $blue;
        color: $blue;
        background-color: transparent;
        padding: 5px;
        font-size: 1.5rem;
        margin: 10px;
    }

    .search-btn:hover {
        background-color: $blue-transparent;
        color: white;
    }
}



