*{
    margin: 0;
}

//Colors
$background: #091122;
$green:  #04ba28;
$green-hover: #04ba28a4;
$blue: rgb(0, 132, 255);
$blue-lighter:#0f1e41;

//Height/Width


//FLEX
@mixin flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

//Headings
.heading1 {
    font-size: 3rem;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    border: none;
}

button {
    cursor: pointer;
    color: white;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: 100px;
}