*{
    margin: 0;
}

//Colors
$background: #091122;
$green:  #04ba28;
$green-hover: #04ba28a4;
$blue: rgb(0, 132, 255);
$blue-transparent: rgba(0, 132, 255, 0.582);
$blue-lighter:#0f1e41;
$green-light: cadetblue;
$red: rgb(230, 141, 57);
$red-light: rgba(230, 141, 57, 0.788);

//Height/Width

//FLEX
@mixin flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Headings
.heading1 {
    font-size: 3rem;
}

.heading2 {
    font-size: 2rem;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    border: none;
}

button {
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: white;
}

.container {
    margin-left: 100px;
}

