@import '../../../base';

.form {
    @include flex-center;
    width: 25%;
    border: 2px solid $blue;
    padding: 20px;
    margin: 15px;
    border-radius: 3px;
}

.landing-input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    width: 100%;
    height: 25px;
}

.login-btn {
    border: 1px solid $green;
    border-radius: 3px;
    width: 30%;
    padding: 5px;
    background-color: transparent;
}

.login-btn:hover {
    background-color: $green-hover;
}